// Font size: 32px
// Font
// Family: Inter
// Weights: 300, 500, 700
$DarkBlue: hsl(240, 38%, 20%);
$GrayishBlue: hsl(240, 18%, 77%);
*,
*::before,
*::after{
	box-sizing: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin: inherit;
}
html{
	font-family:  'Inter', sans-serif;
	font-size: 16px;
	font-weight: 300;
	box-sizing: border-box;
	min-height: 100%;
	margin: 0;
}
body{
	background: url('images/pattern-curve.svg') no-repeat fixed 15% 121%;
}
.main{
	padding-top: 1.5rem;
	@media screen and (min-width: 1200px) {
		margin: auto;
		max-width: 1200px;
	}
}
.slider{
	position: relative;
}
.slider-controls{
	background-color: white;
	box-shadow: 0 5px 30px -10px;
	position: absolute;
	width: 5rem;
	height: 2.25rem;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 285px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
	@media screen and (min-width: 1200px){
		top: unset;
		bottom: 4rem;
		left: (60%);
		height: 3.5rem;
		width: 7rem;
		border-radius: 2rem;
	}
	a{
		text-decoration: none;
	}
	img{
		display: block;
		transition: transform 0.1s;
		&:hover{
			transform: scale(1.2);
		}
	}
}
.slides{
	position: inherit;
}
.slide{
	text-align: center;
	position: absolute;
	opacity: 0;
	top: 0;
	transition: opacity 0.5s ease-out;
	@media screen and (min-width: 1200px) {
		padding: 0;
		display: flex;
		text-align: left;
	}
	&--active{
		position: initial;
		opacity: 1;
	}
}
.slide__picture{
	padding: 1.75rem 0;
	background: url('images/pattern-bg.svg') no-repeat center;
	background-size: contain;
	@media screen and (min-width: 1200px) {
		order: 1;
		width: 100%;
		height: 100%;
		align-self: stretch;
		display: flex;
		align-items: center;
		position: relative;
		left: -3rem;
	}
	img{
		margin: auto;
		width: 275px;
		border-radius: 0.25rem;
		@media screen and (min-width: 1200px) {
			width: 100%;
			padding: 11%;
		}
	}
}
.slide__text{
	@media screen and (min-width: 1200px) {
		width: 100%;
		position: relative;
		right: -10rem;
		z-index: 10;
	}
}
.slide__testimonial{
	margin-top: 1.5rem;
	font-size: 1.1rem;
	line-height: 1.5;
	padding: 1rem;
	color: $DarkBlue;
	background: url('images/pattern-quotes.svg') no-repeat center top;
	background-size: 60px;
	@media screen and (min-width: 1200px) {
		font-size: 2rem;
		padding-right: 3rem;
		margin-bottom: 1rem;
		background-size: 80px;
		background-position: 10rem top;
	}
}
.slide__user{
	font-weight: 500;
	color: $DarkBlue;
	@media screen and (min-width: 1200px) {
		font-size: 1.2rem;
		font-weight: 700;
		display: inline-block;
		margin-left: 1rem;
	}
}
.slide__position{
	font-weight: 500;
	font-size: 0.9rem;
	color: $GrayishBlue;
	@media screen and (min-width: 1200px) {
		font-size: 1.2rem;
		display: inline-block;
	}
}

.attribution { font-size: 11px; text-align: center; margin-top: 4rem; margin-bottom: 1rem}
.attribution a { color: hsl(228, 45%, 44%); }